body{
 font-family: sans-serif;
 background-color: aqua;
}
table{
    margin-left: 35%;
    border:3px solid rgb(245, 245, 32);
    background-color: green;
    }
   header{
        background-color: green;
        margin-bottom: 15px;
        padding: 7px;
    }
nav a{
    color: greenyellow;
    text-decoration: none;
    margin: 10px;
    border-right:3px solid  blueviolet;
    padding-right: 15px;
    display: inline-block;
}
.navmini{
   
   right: 30px;
   display: inline-block;
   position: absolute;
   top: 25px;
}

h1{
 text-align: center;
 color: rgb(139, 194, 30,0.5);
 
}

h2{
    text-align: center;
    background-color: rgb(0, 135, 0,0.5);

    }
h3{
    text-align: center;
   background-color:rgb(124, 0, 240,0.5) ;
   
}
h4{
    text-align: center;
    background-color: rgb(255, 5, 5,0.5);
   
}
table{
    margin-left: 35%;
    border:3px solid rgb(245, 245, 32);
    background-color: yellow;
    }
   header{
        background-image: linear-gradient(blue,yellow);
        margin-bottom: 15px;
        padding: 7px;
    }
nav a{
    color: greenyellow;
    text-decoration: none;
    margin: 10px;
    border-right:3px solid  blueviolet;
    padding-right: 15px;
    display: inline-block;
}
.navmini{
   
   right: 30px;
   display: inline-block;
   position: absolute;
   top: 25px;
}
 .play{
    background-color: yellow;
    padding: 3px;
    text-decoration: none;
    color: rgb(4, 178, 201);
 }
